.shot-chart__video--spin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 580px;
}

.shot-chart__video {
  display: block;
  height: 540px;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
}

@media (max-width: 900px) {
  .shot-chart__video--spin {
    height: 415px;
  }

  .shot-chart__video {
    height: 375px;
  }
}

@media (max-width: 600px) {
  .shot-chart__video--spin {
    height: 240px;
  }

  .shot-chart__video {
    height: 200px;
  }
}
