.card {
  overflow: hidden;
}

.game {
  display: grid;
  grid-template-columns: 36% 28% 36%;
  text-align: center;
  align-items: center;
}

.info {
  margin-top: 10px;
  border-radius: 0;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}
