.play-by-play__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.play-by-play__header--team {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
