.game-list__item--team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-list__item--info {
  flex-basis: 90px;
}

.game-list__item--reverse {
  flex-direction: row-reverse;
}

.game-list__item--pts {
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .game-list__item--pts {
    font-size: 20px;
    font-weight: bold;
  }
}
