.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  flex-basis: 90px;
}

.reverse {
  flex-direction: row-reverse;
}

.pts {
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .pts {
    font-size: 20px;
    font-weight: bold;
  }
}
